name: Glum benchmarks

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  benchmark:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up pixi
        uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: latest
          cache: true

      - name: Build package
        run: pixi run build

      - name: Run test without instrumentation
        run: pixi run pytest -s tests/test_glum_non_instrumented.py

      - name: Run benchmarks with CodSpeed
        uses: CodSpeedHQ/action@v4
        with:
          mode: walltime  # way too slow with simulation
          run: pixi run pytest --codspeed tests/test_glum_codspeed.py
